<section class="mt-4 md:mt-6 lg:mt-8  mb-6 md:mb-0      ">
    <div class="overflow-x-auto rounded-box border border-base-content/10 bg-base-200 shadow-sm">
        <table class="table table-sm  table-md table-lg ">
            <!-- head -->
            <thead class="bg-base-300 font-bold ">
                <tr>
                    <th>#</th>
                    <th>Icon</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- row 1 -->
                <tr class="hover:bg-base-100 cursor-pointer">
                    <th>1</th>
                    <td>Cy Ganderton</td>
                    <td>Quality Control Specialist</td>
                    <td>Blue</td>
                </tr>
                <!-- row 2 -->
                <tr class="hover:bg-base-100 cursor-pointer">
                    <th>2</th>
                    <td>Hart Hagerty</td>
                    <td>Desktop Support Technician</td>
                    <td>Purple</td>
                </tr>
                <!-- row 3 -->
                <tr class="hover:bg-base-100 cursor-pointer">
                    <th>3</th>
                    <td>Brice Swyre</td>
                    <td>Tax Accountant</td>
                    <td>Red</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>